.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 70px;
}

.logo-amazon {
  width: 100px;
}

.address-container {
  display: flex;
  gap: 5px;
  line-height: 1;
  font-size: 13px;
}

.address-text {
  font-size: 12px;
}
.location {
  font-size: 15px;
}

.all-btn {
  color: black;
  padding: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
  font-size: 15px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-box {
  width: 450px;
  font-size: 15px;
  color: black;
  padding: 12px;
  border: none;
  outline: none;
}

.search-btn {
  width: 50px;
  font-size: 20px;
  color: black;
  padding: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(250, 178, 127);
}

.language-cont {
  display: flex;
  gap: 6px;
  align-items: center;
}

.flag {
  width: 20px;
}

.lang {
  font-size: 13px;
  font-weight: 500;
}

.sign-up-cont {
  font-size: 13px;
  line-height: 1;
}

.acc {
  font-size: 15px;
}

.returns-order {
  font-size: 13px;
  line-height: 1;
}

.order {
  font-size: 15px;
}

.shopping-cart {
  display: flex;
  gap: 4px;
  font-size: 14px;
  align-items: baseline;
}

.order-icon {
  font-size: 2em;
}

.count {
  font-size: 12px;
  position: absolute;
  color: rgb(250, 178, 127);
  top: 9px;
  right: 53px;
}
